[submodule "chef/hadoop"]
	path = chef/hadoop
	url = git://github.com/likely/hadoop.git
[submodule "chef/hbase"]
	path = chef/hbase
	url = git://github.com/likely/hbase.git
[submodule "chef/leiningen"]
	path = chef/leiningen
	url = git://github.com/likely/leiningen.git
[submodule "checkouts/giraph"]
	path = checkouts/giraph
	url = git://git.apache.org/giraph.git
